<div class="info-title">{{title}}</div>
<div class="info-state">{{#if live}}Livestream{{else}}On-Demand{{/if}}</div>
{{#if type}}<div class="info-type">Type: {{type}}</div>{{/if}}
{{#if tags}}<div class="info-tags">Tags: {{tags}}</div>{{/if}}
<div class="info-description">{{{description}}}</div>
